<!--<footer class="main-footer">
    <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
    </div>
</footer>-->

<!--
<footer>
    <div class="footer-content">
        <div class="footer-logo">
            <img src="../../assets/img/T.svg" alt="Logo dell'azienda">
        </div>
        <div class="footer-info">
          <h4>Informazioni di Contatto</h4>
          <p>Indirizzo: Via dell'Azienda, 12345, Città, CAP</p>
          <p>Telefono: +1 234 567 890</p>
          <p>Email: info@azienda.com</p>
        </div>
        <div class="footer-links">
          <h4>Link Utili</h4>
          <ul>
            <li><a href="#">Chi Siamo</a></li>
            <li><a href="#">Prodotti</a></li>
            <li><a href="#">Servizi</a></li>
            <li><a href="#">Contatti</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-disclaimer">
        <p>&copy; 2023 Nome dell'Azienda. Tutti i diritti riservati.</p>
        <p>Privacy Policy | Termini e Condizioni</p>
      </div>
</footer>

-->

<div class="footer-basic">
  <footer>
    <div class="social"><a href="#">
      <i class="icon ion-social-instagram"></i></a>
      <a href="#"><i class="icon ion-social-snapchat"></i></a>
      <a href="#"><i class="icon ion-social-twitter"></i></a>
      <a href="#"><i class="icon ion-social-facebook"></i></a>
      <a href="#"><i class="icon ion-social-linkedin"></i></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Tecnomatic © 2023</p>
  </footer>
</div>