<div class="wrapper">
    <app-menu></app-menu>
    <app-body></app-body>
    <app-popups></app-popups>
    <app-footer></app-footer>

    <!--pulsante toast per visualizzazione warning-->
    <button id="btnToastWarning" type="button"
        class="btn btn-warning toastrDefaultWarning">Launch Warning Toast</button>
    <!--pulsante toast per visualizzazione alarm-->
    <button id="btnToastAlarm" type="button"
        class="btn btn-danger toastrDefaultError">Launch Error Toast</button>
</div>
