

<!-- popup modale al click del link FrameworkInfo -->
<div class="modal fade" id="frminfo">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header putcenter">
        <p><b>Framework Version 12.3.0</b></p>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">
        <u>System</u> :<br>
        Operative System Windows 10<br>
        Ram 32GB<br>
        Intel 7 Core8<br><br>
        <u>Web Application Tecnology</u>: <br>
        1. C#<br>
        2. Angular, Html, Css, JavaScript, Jquery, BootStrap<br>
        3. Microsoft SQL Server 2017 Express<br>
        3. Plugin management
      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link FrameworkInfo -->

<!-- popup modale al click del link Programmers -->
<div class="modal fade" id="programmers">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">
        <u>Programmers</u> :<br><br>
        <b>Alessio Bianchi</b> - from 2012 till now<br>
        <b>Mario Rossi</b> - from 2019 till now<br>
        <b>Andrea Verdi</b> - from 2010 till now
      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link Programmers -->

<!-- popup modale al click del link Login -->
<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">

        <div class="login-container">
          <h1>Login</h1>
          <form>
            <input [(ngModel)]="datash.username" name="username" type="text"
              placeholder="Username">
            <input [(ngModel)]="datash.password" name="password" type="password"
              placeholder="Password">
            <button class="wow-effect" (click)="onLoginClick()">Login</button>
          </form>
        </div>

      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button id="btnlogin_close" type="button"
          class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link Login -->

<!-- popup modale al click del link Contact -->
<div class="modal fade" id="contacts">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">
        <br>Via Copernico 2, Z.l. Santa Scolastica,<br>
        64013 Corropoli (TE), Italy<br>
        P.IVA 01053520670<br>
        marketing@tecnomatic.Italy<br>
        +39 0861839030<br>
      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link Contact -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
