

<!-- popup modale al click del link FrameworkInfo -->
<div class="modal fade" id="frminfo">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-header putcenter">
        <div [innerHTML]='jsonConfigService.frameinfo_version'></div>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">
        <u>System</u> :<br>
        <div [innerHTML]='jsonConfigService.frameinfo_system'></div>
        <br><u>Web Application Tecnology</u>: <br>
        <div [innerHTML]='jsonConfigService.frameinfo_wat'></div>
      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link FrameworkInfo -->

<!-- popup modale al click del link Programmers -->
<div class="modal fade" id="programmers">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">
         <em><u>For support contact</u></em> :<br><br>
        <div *ngFor="let item of jsonConfigService.programmers.description">
          <div [innerHTML]='item'></div>
        </div>
      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link Programmers -->

<!-- popup modale al click del link Login -->
<div class="modal fade" id="login">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">

        <div class="login-container">
          <h1>Login</h1>
          <form>
            <input [(ngModel)]="datash.username" name="username" type="text"
              placeholder="Username">
            <input [(ngModel)]="datash.password" name="password" type="password"
              placeholder="Password">
            <button class="wow-effect" (click)="onLoginClick()">Login</button>
          </form>
        </div>

      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button id="btnlogin_close" type="button"
          class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link Login -->

<!-- popup modale al click del link Contact -->
<div class="modal fade" id="contacts">
  <div class="modal-dialog">
    <div class="modal-content bkcolor">
      <!-- Intestazione del modale -->
      <div class="modal-header">

        <app-svglogo></app-svglogo>

        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Contenuto del modale -->
      <div class="modal-body">
        <br><div [innerHTML]='jsonConfigService.contactinfo'></div>
      </div>
      <!-- Pulsante di chiusura del modale -->
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-login-color"
          data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- popup modale al click del link Contact -->

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
